In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
import pyspark
spark = SparkSession.builder.getOrCreate()

In [2]:
spark

In [4]:
from pyspark.sql import Row
from pyspark.sql.types import StructField, StructType, LongType, StringType

In [6]:
schema = StructType(
    [
      StructField(name="city",dataType=StringType(),nullable=True),
      StructField(name="country",dataType=StringType(),nullable=True), 
      StructField(name="counts",dataType=LongType(),nullable=True)  
    ]
)

In [7]:
rows = [
    Row("Los Angeles","United States",3),
    Row("New York","United States",1),
    Row("London","United Kingdom",3)
    
]

In [8]:
parallelizerows = spark.sparkContext.parallelize(rows)

In [9]:
type(parallelizerows)

pyspark.rdd.RDD

In [10]:
df = spark.createDataFrame(parallelizerows,schema)

In [11]:
df.show()

+-----------+--------------+------+
|       city|       country|counts|
+-----------+--------------+------+
|Los Angeles| United States|     3|
|   New York| United States|     1|
|     London|United Kingdom|     3|
+-----------+--------------+------+

In [14]:
import pyspark.sql.functions as f

In [15]:
df.select('country').show()

+--------------+
|       country|
+--------------+
| United States|
| United States|
|United Kingdom|
+--------------+

In [17]:
df.select(f.col('country'),f.col('city')).show()

+--------------+-----------+
|       country|       city|
+--------------+-----------+
| United States|Los Angeles|
| United States|   New York|
|United Kingdom|     London|
+--------------+-----------+

In [18]:
df.select(f.expr("country as destination")).show()

+--------------+
|   destination|
+--------------+
| United States|
| United States|
|United Kingdom|
+--------------+

In [20]:
new_df = df.selectExpr("avg(counts)","count(distinct(country))").show()

+------------------+-----------------------+
|       avg(counts)|count(DISTINCT country)|
+------------------+-----------------------+
|2.3333333333333335|                      2|
+------------------+-----------------------+

In [23]:
df.select(f.expr("*"),f.lit(1).alias("One")).show()

+-----------+--------------+------+---+
|       city|       country|counts|One|
+-----------+--------------+------+---+
|Los Angeles| United States|     3|  1|
|   New York| United States|     1|  1|
|     London|United Kingdom|     3|  1|
+-----------+--------------+------+---+

In [24]:
df

DataFrame[city: string, country: string, counts: bigint]

In [25]:
df.show()

+-----------+--------------+------+
|       city|       country|counts|
+-----------+--------------+------+
|Los Angeles| United States|     3|
|   New York| United States|     1|
|     London|United Kingdom|     3|
+-----------+--------------+------+

In [32]:

df = df.withColumn("One",f.lit(1))

In [33]:
df.show()

+-----------+--------------+------+---+
|       city|       country|counts|One|
+-----------+--------------+------+---+
|Los Angeles| United States|     3|  1|
|   New York| United States|     1|  1|
|     London|United Kingdom|     3|  1|
+-----------+--------------+------+---+

In [34]:
df = df.withColumn('one',f.expr("One"))

In [35]:
df.show()

+-----------+--------------+------+---+
|       city|       country|counts|one|
+-----------+--------------+------+---+
|Los Angeles| United States|     3|  1|
|   New York| United States|     1|  1|
|     London|United Kingdom|     3|  1|
+-----------+--------------+------+---+

In [36]:
df = df.drop("one")

In [37]:
df.show()

+-----------+--------------+------+
|       city|       country|counts|
+-----------+--------------+------+
|Los Angeles| United States|     3|
|   New York| United States|     1|
|     London|United Kingdom|     3|
+-----------+--------------+------+