In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [7]:
data = spark.sparkContext.textFile('C:\\Users\\admin\\Desktop\\spark-data\\books.csv')

In [8]:
data.top(1)

['id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url']

In [9]:
df = spark.read.csv('C:\\Users\\admin\\Desktop\\spark-data\\books.csv',header =True,inferSchema=True)

In [10]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- book_id: integer (nullable = true)
 |-- best_book_id: integer (nullable = true)
 |-- work_id: integer (nullable = true)
 |-- books_count: integer (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: double (nullable = true)
 |-- authors: string (nullable = true)
 |-- original_publication_year: double (nullable = true)
 |-- original_title: string (nullable = true)
 |-- title: string (nullable = true)
 |-- language_code: string (nullable = true)
 |-- average_rating: string (nullable = true)
 |-- ratings_count: string (nullable = true)
 |-- work_ratings_count: string (nullable = true)
 |-- work_text_reviews_count: string (nullable = true)
 |-- ratings_1: double (nullable = true)
 |-- ratings_2: integer (nullable = true)
 |-- ratings_3: integer (nullable = true)
 |-- ratings_4: integer (nullable = true)
 |-- ratings_5: integer (nullable = true)
 |-- image_url: string (nullable = true)
 |-- small_image_url: string (nullable = true)

In [11]:
df.columns

['id',
 'book_id',
 'best_book_id',
 'work_id',
 'books_count',
 'isbn',
 'isbn13',
 'authors',
 'original_publication_year',
 'original_title',
 'title',
 'language_code',
 'average_rating',
 'ratings_count',
 'work_ratings_count',
 'work_text_reviews_count',
 'ratings_1',
 'ratings_2',
 'ratings_3',
 'ratings_4',
 'ratings_5',
 'image_url',
 'small_image_url']

In [12]:
len(df.columns)

23

In [13]:
df.count()

10000

In [14]:
ratings_df = spark.read.csv('C:\\Users\\admin\\Desktop\\spark-data\\ratings.csv',header =True,inferSchema=True)

In [15]:
ratings_df.count()

981756

In [16]:
df.describe().show()

+-------+------------------+-----------------+----------------+-------------------+-----------------+-------------------+--------------------+--------------------+-------------------------+------------------+-----------------------------------+--------------------+--------------------+-----------------+--------------------+-----------------------+-----------------+-----------------+-----------------+------------------+-----------------+--------------------+--------------------+
|summary|                id|          book_id|    best_book_id|            work_id|      books_count|               isbn|              isbn13|             authors|original_publication_year|    original_title|                              title|       language_code|      average_rating|    ratings_count|  work_ratings_count|work_text_reviews_count|        ratings_1|        ratings_2|        ratings_3|         ratings_4|        ratings_5|           image_url|     small_image_url|
+-------+------------------+-----------------+----------------+-------------------+-----------------+-------------------+--------------------+--------------------+-------------------------+------------------+-----------------------------------+--------------------+--------------------+-----------------+--------------------+-----------------------+-----------------+-----------------+-----------------+------------------+-----------------+--------------------+--------------------+
|  count|             10000|            10000|           10000|              10000|            10000|               9300|                9415|               10000|                     9979|              9415|                              10000|                8916|               10000|            10000|               10000|                  10000|            10000|            10000|            10000|             10000|            10000|               10000|               10000|
|   mean|            5000.5|     5264696.5132|    5471213.5801|       8646183.4246|          75.7127|7.483353556817111E8|9.755044298883463E12|                null|        1981.987674115643|1497.8333333333333|                 1567.2857142857142|                null|  4.0021624324864975|54003.90110111011|   59692.25862586259|      2922.014901490149|      1345.179918|        3111.6312|        11476.402|        19965.1288|        23789.205|              4530.0|              1553.0|
| stddev|2886.8956799071675|7575461.863589594|7827329.89071998|1.175106082408002E7|170.4707276502584|9.779311117903123E8|4.428619206655723E11|                null|       152.57666516754645|1088.0077971534333|                 1010.0657922937024|                null|  0.2544444289254295|157377.7001999715|  167811.44396015457|      6127.088904232268|6635.626350674322|9717.227578140139|28546.36995932021|51447.536825270276|79769.03535387228|   5868.986283848344|                 NaN|
|    min|                 1|                1|               1|                 87|                1|         000100039X|        1.95170342E8|    A. Manette Ansay|                  -1750.0|                  |                   ""The Lost Boy""| ""A Man Named Da...|"My Story: ""A Ch...| ""The Lost Boy""| ""A Man Named Da...|                    100|             4.18|               30|              323|               590|              137|                 380|                1553|
|    max|             10000|         33288638|        35534230|           56399597|             3455|         9993911550|    9.79000767239E12|يوسف زيدان, Youss...|                   2017.0|       채식주의자 |美少女戦士セーラームーン新装版 1...|                 vie|                 eng|             9995|               99971|                  en-US|         456191.0|           436802|           793319|           1481305|          3011543|https://s.gr-asse...|https://s.gr-asse...|
+-------+------------------+-----------------+----------------+-------------------+-----------------+-------------------+--------------------+--------------------+-------------------------+------------------+-----------------------------------+--------------------+--------------------+-----------------+--------------------+-----------------------+-----------------+-----------------+-----------------+------------------+-----------------+--------------------+--------------------+

In [17]:
ratings_df.describe().show()

+-------+-----------------+------------------+------------------+
|summary|          book_id|           user_id|            rating|
+-------+-----------------+------------------+------------------+
|  count|           981756|            981756|            981756|
|   mean|4943.275635697668|25616.759933221696|3.8565335989797873|
| stddev|2873.207414896143|15228.338825882149|0.9839408559619973|
|    min|                1|                 1|                 1|
|    max|            10000|             53424|                 5|
+-------+-----------------+------------------+------------------+

In [19]:
ratings_df.dropDuplicates().show()

+-------+-------+------+
|book_id|user_id|rating|
+-------+-------+------+
|     10|   7001|     4|
|     13|  29819|     4|
|     13|  49297|     5|
|     16|  28158|     4|
|     18|  15318|     3|
|     19|   3922|     5|
|     20|  10288|     2|
|     20|  47730|     5|
|     22|  16377|     5|
|     25|  24582|     5|
|     28|  47800|     5|
|     30|   6630|     3|
|     30|  10610|     5|
|     31|   5379|     4|
|     31|  19526|     5|
|     35|   1169|     1|
|     35|  11285|     3|
|     38|  36099|     4|
|     40|  14248|     3|
|     41|  10249|     5|
+-------+-------+------+
only showing top 20 rows

In [20]:
ratings_df.count()

981756

In [22]:
ratings_df.dropna('any').count()

981756

In [23]:
ratings_df.groupby('rating').count().toPandas()

   rating   count
0       1   19575
1       3  248623
2       5  292961
3       4  357366
4       2   63231

In [25]:
ratings_df.select('rating').distinct().show()

+------+
|rating|
+------+
|     1|
|     3|
|     5|
|     4|
|     2|
+------+

In [26]:
ratings_df.agg({'rating':'max'}).show()

+-----------+
|max(rating)|
+-----------+
|          5|
+-----------+

In [27]:
ratings_df.groupby('rating').count().toPandas()

   rating   count
0       1   19575
1       3  248623
2       5  292961
3       4  357366
4       2   63231

In [28]:
ratings_df.groupby('rating').count().show()

+------+------+
|rating| count|
+------+------+
|     1| 19575|
|     3|248623|
|     5|292961|
|     4|357366|
|     2| 63231|
+------+------+

In [29]:
ratings_df.join(df, ratings_df.book_id == df.book_id).select('user_id','title').show()

+-------+--------------------+
|user_id|               title|
+-------+--------------------+
|    314|Harry Potter and ...|
|    439|Harry Potter and ...|
|    588|Harry Potter and ...|
|   1169|Harry Potter and ...|
|   1185|Harry Potter and ...|
|   2077|Harry Potter and ...|
|   2487|Harry Potter and ...|
|   2900|Harry Potter and ...|
|   3662|Harry Potter and ...|
|   3922|Harry Potter and ...|
|   5379|Harry Potter and ...|
|   5461|Harry Potter and ...|
|   5885|Harry Potter and ...|
|   6630|Harry Potter and ...|
|   7563|Harry Potter and ...|
|   9246|Harry Potter and ...|
|  10140|Harry Potter and ...|
|  10146|Harry Potter and ...|
|  10246|Harry Potter and ...|
|  10335|Harry Potter and ...|
+-------+--------------------+
only showing top 20 rows