In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark =SparkSession.builder.getOrCreate()

In [2]:
import pandas as pd
df_csv = pd.read_csv("C:\\Users\\admin\\Desktop\\spark-data\\trans.csv")

In [3]:
df_csv.head()

,CustomerId,CustomerName,dateTime,Amount,discount,Member,CustomerId.1
0,1001,Arun,2020-07-15 01:01:53,2465.22,10 %,True,1001
1,1005,Barath,2020-07-13 12:15:33,8399.34,5 %,True,1005
2,1003,Charle,2020-07-18 20:10:45,1234.88,3 %,False,1003
3,1004,Gokul,2020-07-15 11:11:36,1690.00,1 %,True,1004
4,1005,Messy,2020-07-18 15:11:43,160.00,3 %,True,1005

In [4]:
df1 = spark.read.csv("C:\\Users\\admin\\Desktop\\spark-data\\trans.csv",header=True)

In [5]:
df1.show()

+-----------+------------+-------------------+-------+--------+------+-----------+
|CustomerId0|CustomerName|           dateTime| Amount|discount|Member|CustomerId6|
+-----------+------------+-------------------+-------+--------+------+-----------+
|       1001|        Arun|2020-07-15 01:01:53|2465.22|    10 %|  True|       1001|
|       1005|      Barath|2020-07-13 12:15:33|8399.34|     5 %|  True|       1005|
|       1003|      Charle|2020-07-18 20:10:45|1234.88|     3 %| False|       1003|
|       1004|       Gokul|2020-07-15 11:11:36|1690.00|     1 %|  True|       1004|
|       1005|       Messy|2020-07-18 15:11:43| 160.00|     3 %|  True|       1005|
|       1006|      Gerold|2020-07-08 14:16:53|2546.00|     1 %|  True|       1006|
|       1007|      Parker|2020-07-04 17:13:33|3456.00|     2 %| False|       1007|
|       1008|        Thor|2020-07-10 03:30:43|8745.00|     5 %|  True|       1008|
|       1009|       Steve|2020-07-22 12:10:43| 143.00|     2 %|  True|       1009|
|       1010|        Mani|2020-07-27 19:40:23|1865.00|     3 %|  True|       1010|
|       1011|      Cooper|2020-07-13 18:10:33|1200.00|     1 %|  True|       1011|
|       1012|       Penny|2020-07-28 13:20:33|1693.00|     4 %| False|       1012|
|       1013|     Lenoard|2020-07-22 10:50:33|7600.98|     1 %|  True|       1013|
|       1014|    Mohammed|2020-07-12 07:30:33| 534.00|     2 %|  True|       1014|
|       1015|      Althaf|2020-07-10 05:10:36|2435.00|     1 %|  True|       1015|
+-----------+------------+-------------------+-------+--------+------+-----------+

In [6]:
df = spark.read.json("C:\\Users\\admin\\Desktop\\spark-data\\input1.json",multiLine=True)

In [7]:
df.show()

+--------------------+-------+---------+
|            Delivery|   name|  product|
+--------------------+-------+---------+
|[Chennai, 1234567...|   AZAR|Headphone|
|[Bangalore, 57386...|Bharath|  T-shirt|
+--------------------+-------+---------+

In [8]:
df.printSchema()

root
 |-- Delivery: struct (nullable = true)
 |    |-- address: string (nullable = true)
 |    |-- mob: string (nullable = true)
 |    |-- name: string (nullable = true)
 |-- name: string (nullable = true)
 |-- product: string (nullable = true)

In [9]:
df3 = df.select("*","Delivery.*").drop("Delivery")

In [10]:
df3.show()

+-------+---------+---------+-------+-----------+
|   name|  product|  address|    mob|       name|
+-------+---------+---------+-------+-----------+
|   AZAR|Headphone|  Chennai|1234567|  Azarudeen|
|Bharath|  T-shirt|Bangalore|5738612|Bharathiraj|
+-------+---------+---------+-------+-----------+

In [11]:
df3.select("name").show()

AnalysisException: "Reference 'name' is ambiguous, could be: name, name.;"

In [12]:
lst = []
df_cols = df3.columns
df_cols

['name', 'product', 'address', 'mob', 'name']

In [14]:
for i in df_cols:
    if df_cols.count(i)==2:
        ind = df_cols.index(i)
        lst.append(ind)
        
lst1 = list(set(lst))

for i in lst1:
    df_cols[i] = df_cols[i]+"_0"
    
df3 = df3.toDF(*df_cols)

In [15]:
df3.printSchema()

root
 |-- name_0: string (nullable = true)
 |-- product: string (nullable = true)
 |-- address: string (nullable = true)
 |-- mob: string (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df3.show()

+-------+---------+---------+-------+-----------+
| name_0|  product|  address|    mob|       name|
+-------+---------+---------+-------+-----------+
|   AZAR|Headphone|  Chennai|1234567|  Azarudeen|
|Bharath|  T-shirt|Bangalore|5738612|Bharathiraj|
+-------+---------+---------+-------+-----------+